:root {
  --white-color: #ffffff;
  --navy-color: #2e2f42;
  --iris-color: #4d5ae5;
  --slate-color: #434455;
  --cloud-color: #f4f4fd;
  --grey-color: #8e8f99;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate-color);
  background-color: var(--white-color);
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}
/*--------------- HEADER ------------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-item {
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  margin-right: 76px;
}

.heder-menu:hover,
.heder-menu:focus,
.heder-adress:hover,
.heder-adress:focus {
  color: #404bbf;
}

.logo-studio {
  color: var(--navy-color);
}

.heder-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--navy-color);
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list {
  font-style: normal;
  margin-left: auto;
}

.heder-adress {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress-list {
  display: flex;
  margin-left: auto;
  gap: 40px;
}
.page-sign {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}

/* .page-sign::after {
  content: '';
  position: absolute;
  height: 4px;
  left: 0px;
  background: #404bbf;
  border-radius: 2px;
  display: block;
  margin-top: 20px;
  width: 100%;
  bottom: -1px;
} */

.menu-open-btm {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-left: auto;
  border: none;
}

.menu-open-icon {
  stroke: var(--navy-color);
  border: none;
}

.mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  padding: 24px 24px 40px 40px;
  overflow: auto;
}

.mob-pages {
  /* padding-bottom: 284px; */
}

.menu-close-btm {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
  cursor: pointer;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-icon {
}

.mob-menu-list {
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-link {
  font-size: 36px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--navy-color);
}

.mob-menu-adress-top {
  font-style: normal;
  margin-bottom: 48px;
}
.mob-menu-adress-list {
}

.mob-menu-adress-phone {
  display: block;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.mob-menu-adress-mail {
  color: var(--slate-color);
  font-size: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 48px;
}
.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
}
.mob-soc-item {
  width: 40px;
  height: 40px;
}
.mob-soc-link {
  width: 100%;
  height: 100%;
  background: var(--iris-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
}
.mob-soc-icon {
}

/*--------------- HERO ------------------*/

.hero-section {
  background-color: var(--navy-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 112px;
  max-width: 428px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}

.hero-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
  display: block;
  max-width: 320px;
  margin: 0 auto 72px;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--iris-color);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/*--------------- WORKS ------------------*/

.works {
  padding: 96px 16px;
}

.container-works {
  /* width: 100%; */
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.works-item {
  /* width: calc((100% - 3 * 24px) / 4); */
  max-width: 396px;
}

.text-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-color);
  text-align: center;
}

.works-text-title {
  margin-bottom: 8px;
}

.specific-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .works-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
} */

.works-icon {
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

/*--------------- SERVICES ------------------*/
.servisec {
  display: none;
  padding-bottom: 120px;
}

.servisec-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-color);
  margin-bottom: 72px;
}

.servisec-list {
  display: flex;
  gap: 24px;
}

/*--------------- TEAM ------------------*/

.team {
  color: var(--navy-color);
  background-color: var(--cloud-color);
  padding: 96px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--navy-color);
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  /* width: calc((100% - 3 * 24px) / 4); */
  max-width: 100%;
}

.team-text-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  margin-bottom: 8px;
}

.team-title-container {
  margin-bottom: 72px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  margin-bottom: 8px;
}

.team-person {
  padding: 32px 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

/*--------------- CUSTOMERS ------------------*/

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--navy-color);
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customers-item {
  /* width: calc((100% - 5 * 24px) / 6); */
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

/*--------------- PORTFOLIO ------------------*/

.high-options {
  padding: 96px 0 120px;
}

.options-container {
}

.options-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  background-color: var(--cloud-color);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.options-btn:hover,
.options-btn:focus {
  color: var(--white-color);
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.options-btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}

.options-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.options-link:hover,
.options-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.options-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.options-item {
  width: calc((100% - 2 * 24px) / 3);
}

.options-link:hover .overlay,
.options-link:focus .overlay {
  transform: translateY(0);
}

.options-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.options-text-title {
  margin-bottom: 8px;
}

.options-img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  padding: 40px 32px;
  display: block;
  background-color: var(--iris-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*--------------- FOOTER ------------------*/

.footer-contaner {
  /* display: flex;
  flex-wrap: wrap;
  align-items: baseline; */
}
.footer {
  background-color: var(--navy-color);
  color: var(--cloud-color);
  padding: 96px 0;
}

.logo-web-down {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-down {
  color: var(--cloud-color);
}
.logo-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  max-width: 264px;
}

.footer-soc {
  margin-bottom: 72px;
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
  text-align: center;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-left: 80px; */
  max-width: 100%;
  margin: 0 auto;
}

.form-footer {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  /* gap: 24px; */
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-lable {
  width: 100%;
  display: block;
  margin-bottom: 16px;
}

.footer-input {
  /* display: inline-block; */
  width: 398px;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2e2f42;
  padding-left: 16px;
  padding-right: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-input:focus {
  border: 1px solid #4d5ae5;
}

.btn-footer {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: left;
  padding: 8px 24px;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-btn-icon {
  margin-left: 16px;
}

.blackdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
}

.blackdrop.is-hidden .modal {
  transform: translateX(-50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #ffffff;
  border: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-field-privacy {
  margin-bottom: 24px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  padding-right: 10px;
  outline: transparent;
  /* transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.modal-input:hover,
.modal-input:focus {
  /* border: 1px solid #4d5ae5; */
  border-color: #4d5ae5;
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.input-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--navy-color);
}

.modal-icon:focus {
  fill: #4d5ae5;
}

.model-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  /* padding-top: 8px;
  padding-left: 16px; */
  resize: none;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.model-comment:hover,
.model-comment:focus {
  border: 1px solid #4d5ae5;
}

.check-text {
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-top: 16px;
}

.rule-privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text span {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-check:focus + .check-text span {
}

.check-privacy {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
  margin-left: 4px;
}

.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 24px;
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (max-width: 767px) {
  .header-list,
  .adress-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .heder-menu {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }

  .heder-adress {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: var(--slate-color);
  }

  .menu-open-btm {
    display: none;
  }

  .hero-section {
    background-color: var(--navy-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
    max-width: 768px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }

  .hero-text {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }

  .works-list {
    gap: 72px 24px;
  }

  .works-item {
    width: calc((100% - 24px) / 2);
  }

  .text-title {
    text-align: start;
  }

  .team > .container,
  .customers > .container,
  .footer > .container {
    width: 552px;
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
    max-width: 264px;
  }

  .customers-list {
    gap: 72px 24px;
  }

  .customers-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .footer-contaner {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 24px;
  }

  .logo-web-down {
    margin-bottom: 17.5px;
  }

  .logo-down {
    align-items: start;
    margin-bottom: 72px;
  }

  .footer-soc-text {
    text-align: left;
  }

  .container-form {
    margin-left: auto;
  }

  .footer-title {
    margin-bottom: 16px;
    text-align: left;
  }

  .form-footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }
}

@media screen and (max-width: 1157px) {
  .icons {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .header-adress-list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 40px;
  }

  .page-sign::after {
    content: '';
    position: absolute;
    height: 4px;
    left: 0px;
    background: #404bbf;
    border-radius: 2px;
    display: block;
    margin-top: 20px;
    width: 100%;
    bottom: -1px;
  }

  .hero-section {
    max-width: 1440px;
    background-color: var(--navy-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-2x.jpg);
      max-width: 1440px;
    }
  }

  .hero-text {
    margin: 0 auto 48px;
  }

  .works-list {
    gap: 24px;
  }

  .works-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .text-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .specific-text {
    font-weight: 400;
  }

  .servisec {
    display: block;
  }

  .team > .container,
  .customers > .container,
  .footer > .container {
    width: 1158px;
  }

  .team {
    padding: 120px 0;
  }

  .team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .team-item {
    background-color: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 3 * 24px) / 4);
  }

  .team-title-container {
    margin-bottom: 72px;
  }

  .customers-list {
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 5 * 24px) / 6);
  }

  footer-contaner {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .container-form {
    margin-left: 80px;
  }
}
